/* Box sizing rules */
*,
*::before,
*::after {
  //border: 1px solid red;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  width: 100%;
  max-width: 100%;
  background: $background-black;
  margin: 0;
  color: $text-white;
}

/* A elements that don't have a class get default styles */
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* To disable default font-family and use the next js font. */
button,
input {
  font-family: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
