//  Variables
//  -----------------------------
//
//  Table of Contents:
//
//   1. Font family
//   2. Primary Colors
//   3. Content Colors
//   4. Secondary Colors
//   5. Background Colors
//   6. Status Colors
//   7. Action Colors
//   8. Text Colors
//   9. Border Colors
//   10. Font Size
//   11. Font Weight
//   12. Border radius
//   13. Responsive Size

// 1. Font family
// ---------
$font-family: 'Poppins', sans-serif;

// 2. Primary Colors
// ---------
$primary-blue: #01396c;
$primary-green: #02c9a5;

// 3. Content Colors
$content-gray: #c2cdcd;

// 4. Secondary Colors
// ---------

// 5. Background Colors
$background-white: #fcfcfc;
$background-black: #00100d;
$background-gray: #00100dcc;

// 6. Status Colors
// ---------
$status-error: #e42a00;
$status-warning: #ffab00;
$status-success: #02ad8e;

// 7. Action Colors
// ---------
$action-active: #028389;
$action-pressed: #015445;
$action-enabled: #c1d2d0;

// 8. Text Colors
// ---------
$text-white: #fcfcfc;
$text-gray: #d4dcdb;
$text-light-gray: #eff7f6;
$text-black: #010b13;

// 9. Border Colors
// ---------
$border-color-subtle: #e9eded;
$border-color-accordion: #c9c9c9;
$border-color-disabled: #566563;

// 10. Font Size
// ---------
$font-size-4: 0.25rem;
$font-size-8: 0.5rem;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-40: 2.5rem;
$font-size-42: 2.62rem;
$font-size-48: 3rem;
$font-size-64: 4rem;

// 11. Font Weight
// ---------
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

// 12. Border radius
$border-radius-4: 0.25rem;
$border-radius-8: 0.5rem;
$border-radius-10: 0.625rem;
$border-radius-12: 0.75rem;
$border-radius-14: 0.875rem;
$border-radius-16: 1rem;
$border-radius-18: 1.125rem;
$border-radius-20: 1.25rem;
$border-radius-24: 1.5rem;
$border-radius-30: 1.875rem;
$border-radius-40: 2.5rem;
$border-radius-48: 3rem;
$border-radius-80: 5rem;

// 13. Responsive Size
// ---------
$xs: 25em; //400px
$sm: 34em; //544px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 80em; //1280px
$xxl: 90em; //1440px
